/* Footer.module.css */
.mainFooter {
  background-color: #1f1f1f; /* Темний футер у світлій темі */
  color: #ffffff;
  padding: 40px 0;
  text-align: center;
}

/* Футер у темній темі (ще темніший) */
:global(body[data-theme="dark"]) .mainFooter {
  background-color: #000000;
}

.socialWrapper :global(a) {
  color: #ffffff !important; /* Білі іконки завжди */
  opacity: 0.8;
  margin: 0 12px;
  font-size: 1.6rem;
  transition: 0.3s;
}

.socialWrapper :global(a:hover) {
  color: #e62117 !important; /* Червоний при наведенні */
  opacity: 1;
}

.footerLink {
  color: #ffffff;
  opacity: 0.6;
  text-decoration: none;
}

:global(body[data-theme="dark"]) .footerLink {
  color: #bbbbbb;
}
