/* index.css */
body {
  margin: 0;
  background-color: #ffffff; /* Світлий фон за замовчуванням */
  color: #1f1f1f;
  transition: background-color 0.3s, color 0.3s;
}

/* Коли увімкнена нічна тема */
body[data-theme='dark'] {
  background-color: #121212; /* Темний фон */
  color: #ffffff;
}